* {
 margin: 0px;
 padding: 0px;
}

#container {
  width: 800px;
  margin: 0px auto;
  padding-top: 50px;
}

#pokemons {
  width: 500px;
  display: inline-block;
  margin-top: 20px;
}

#pokedex {
  width: 250px;
  display: inline-block;
  border-style: solid;
  border-width: 15px;
  border-bottom: 30px solid red;
  border-color: red;
  vertical-align: top;
  height: 450px;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#pokedex img {
  margin-left: 20px;
}

ul {
  list-style-position: inside;
  margin-left: 20px;
}
